header {
    background-color: #f1f3ff;
}

body {
    font-family: "Helvetica";
}

.navbar-item {
    font-weight: 400;
    color: #000000;
}

.logo {
    width: 100px;
    height: 34px;
    background: #0d28a6;
}

#register-btn {
    margin-left: 10px;
}

#list-service-feature {
    list-style-type: none;
    padding-left: 0;
}

#list-service-feature > li {
    margin-bottom: 15px;
}

.service-feature {
    display: inline;
    margin-left: 10px;
}

#sewa-mobil-card {
    background-color: #0d28a6;
    border-radius: 13px;
}

.accordion-item {
    border-radius: 4px; /* Apply desired border radius */
    background-color: #fff; /* Remove default hover highlight */
}

.accordion-item .accordion-button:hover,
.accordion-item .accordion-button:focus {
    /* Remove focus and hover styles */
    background-color: #fff;
    box-shadow: none;
}

.footer-navigation {
    font-weight: bold;
    width: fit-content;
}

.testimonial-card {
    max-width: 540px;
    background-color: #f1f3ff;
}
