header {
    background-color: #f1f3ff;
}

.navbar-item {
    font-family: "Helvetica";
    font-weight: 400;
    color: #000000;
}

#logo {
    width: 100px;
    height: 34px;
    left: 136px;
    top: 25px;
    background: #0d28a6;
}

#register-btn {
    margin-left: 10px;
}

#list-service-feature {
    list-style-type: none;
    padding-left: 0;
}

#list-service-feature > li {
    margin-bottom: 15px;
}

.service-feature {
    display: inline;
    margin-left: 10px;
}
